{% extends "partials/base.html" %}
{% block content %}
<main class="container mx-auto mt-20">
  <article class="flex justify-center">
    <div class="w-9/12 text-center prose">
      <h1 class="text-2xl text-green-600">
        <i class="fas fa-check-circle"></i> Пароль успешно обновлён!
      </h1>
      <p class="mt-4">Теперь вы можете безопасно отслеживать свои домены.</p>
      <a class="btn btn-primary mt-8" href="/domains">Перейти к отслеживанию доменов</a>
    </div>
  </article>
</main>
{% endblock %}