<div class="w-56">
    <ul class="menu border-r border-base-200">
        <li><a class="{{activeFor('/admin/users')}}" href="/admin/users">Пользователи</a></li>
        <li><a class="{{activeFor('/admin/accounts')}}" href="/admin/accounts">Аккаунты</a></li>
        <li><a class="{{activeFor('/admin/domains')}}" href="/admin/domains">Домены</a></li>
        <li><a class="{{activeFor('/admin/plans')}}" href="/admin/plans">Планы</a></li>
        <li><a href="/signout">Выйти</a></li>
    </ul>
</div>