{% extends "partials/base.html" %}

{% block content %}
<div class="container mx-auto mt-20 flex gap-10">
    {% include "partials/sidenav.html" %}
    <div class="flex w-full xl:px-14">
        <div class="prose">
            <h1 class="text-3xl font-bold">Начните трекинг доменов</h1>
            <p>Добавьте один домен или список всех доменов, которые вы хотите отслеживать, разделенный запятыми.</p>
            <form action="/domains" method="POST">
                <textarea rows="5" class="textarea textarea-bordered input-default w-full text-base" placeholder="mydomain.com,someotherdomain.so" name="domains">{{flash.domains}}</textarea>
                {% if flash.domainsError %}
                    <p class="text-error text-sm mt-0 pt-0">{{ flash.domainsError}}</p>
                {% endif %}
                {% if flash.maxTrackings %}
                    <div class="">
                        <p class="text-info">
                            С текущим планом подписки вы можете мониторить до {{ flash.maxTrackings }} доменов. <a class="text-info" href="/account">Вы можете улучшить свой план здесь.</a>
                        </p>
                    </div>
                {% endif %}
                <div class="mt-6">
                    <button id="addDomainButton" type="submit" class="btn btn-primary w-fit">Отслеживать</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
