@tailwind base;
@tailwind components;
@tailwind utilities;


.badge-accent {
    --tw-border-opacity: 1;
    border-color: var(--fallback-a,oklch(var(--a)/var(--tw-border-opacity)));
    --tw-bg-opacity: 1;
    background-color: var(--fallback-a,oklch(var(--a)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: var(--fallback-ac,oklch(var(--ac)/var(--tw-text-opacity)));
}
  
.badge-success {
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-su,oklch(var(--su)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: var(--fallback-suc,oklch(var(--suc)/var(--tw-text-opacity)));
}
  
.badge-warning {
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-wa,oklch(var(--wa)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: var(--fallback-wac,oklch(var(--wac)/var(--tw-text-opacity)));
}
  
.badge-error {
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-er,oklch(var(--er)/var(--tw-bg-opacity)));
    --tw-text-opacity: 1;
    color: var(--fallback-erc,oklch(var(--erc)/var(--tw-text-opacity)));
}
  
.badge-outline.badge-accent {
    --tw-text-opacity: 1;
    color: var(--fallback-a,oklch(var(--a)/var(--tw-text-opacity)));
}
  
.badge-outline.badge-success {
    --tw-text-opacity: 1;
    color: var(--fallback-su,oklch(var(--su)/var(--tw-text-opacity)));
}
  
.badge-outline.badge-warning {
    --tw-text-opacity: 1;
    color: var(--fallback-wa,oklch(var(--wa)/var(--tw-text-opacity)));
}
  
.badge-outline.badge-error {
    --tw-text-opacity: 1;
    color: var(--fallback-er,oklch(var(--er)/var(--tw-text-opacity)));
}

.badge-info {
    border-color: transparent;
    --tw-bg-opacity: 1;
    background-color: var(--fallback-er, #FFA500); /* Оранжевый цвет */
    --tw-text-opacity: 1;
    color: var(--fallback-erc, #000000); /* Оранжевый цвет */
}

.badge-outline.badge-info {
    --tw-text-opacity: 1;
    color: var(--fallback-er, #FFA500); /* Оранжевый цвет */
}

.spinner{
	display:none;
}
.htmx-request .spinner{
	display:inline;
}
.htmx-request.spinner {
	display:inline;
}
