{% extends "partials/base.html" %}

{% block content %}
<div class="container mx-auto mt-20 flex gap-10">
    {% include "partials/sidenav.html" %}
    <div class="flex w-full xl:px-14">
        <form method="GET" action="/favorites" class="w-full">
            <h1 class="text-3xl font-bold mb-4">Избранные домены</h1>
            <input type="text" name="q" placeholder="Поиск..." class="input input-bordered input-default flex-grow mt-5 mb-5" /> 
            <button type="submit" class="btn btn-secondary btn-sm ml-2">поиск</button> 
            <a href="/favorites" class="btn btn-neutral btn-outline btn-sm">Показать все</a>
            <button type="button" class="btn btn-primary btn-sm" onclick="deleteFavoriteDomains()">Удалить из избранного</button>        
            <div class="border-b border-gray-300 w-full"></div>
            <div class="mb-4 border-b border-b-base-300 pb-4 mt-5">
                <div class="flex justify-between">
                    <div class="flex space-x-4 items-center">
                        <p class="text-sm">
                            {{ trackings|length }} {{ pluralize("результат", trackings|length) }}
                        </p>
                        <span class="text-sm">фильтер по статусу</span>
                        <select id="statusFilter" class="select select-bordered w-fit select-sm" name="status">
                            {% for status in filters.statuses %}
                            {% if status == filters.selectedStatus %}
                            <option selected>{{ status }}</option>
                            {% else %}
                            <option>{{ status }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <span class="text-sm">кол-во доменов</span>
                        <select id="pageFilter" class="select select-bordered  w-18 select-sm" name="limit">
                            {% for limit in filters.limits %}
                            {% if limit == filters.selectedLimit %}
                            <option selected>{{ limit }}</option>
                            {% else %}
                            <option>{{ limit}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex space-x-4">
                        <a href="/domains" class="btn btn-neutral btn-outline btn-sm">сбросить</a>
                        <button type="submit" class="btn btn-secondary btn-sm">применить</button>
                    </div>
                </div>
            </div>

            {% if !trackings && userHasTrackings %}
            <p>Нет результатов для выбранного фильтра. <a class="text-blue-500 underline" href="/domains">Обновить фильтр.</a></p>
            {% endif %}
            {% if !userHasTrackings %}
            <div class="flex justify-center mt-20">
                <div class="border border-base-300 p-8 rounded-lg text-center prose mx-auto">
                    <p class="font-semibold">В данный момент у вас нет доменов для мониторинга.</p>
                    <p class="font-semibold"><a href="/domains/new">Начать мониторить домены.</a></p>
                </div>
            </div>
            {% endif %}

            {% if trackings && userHasTrackings %}
            <div class="flex w-full">
                <div class="overflow-x-auto w-full" id="domainsTable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Домен</th>
                                <th>Издатель</th>
                                <th>Дата истечения</th>
                                <th>Осталось дней</th>
                                <th>Статус</th>
                                <th>Детали</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for tracking in trackings %}
                            <tr>
                                <th>
                                    <input type="checkbox" class="checkbox checkbox-xs" name="favorite_domains" value="{{ tracking.ID }}" />
                                </th>
                                <th>{{ tracking.DomainName }}</th>
                                <td>{{ tracking.Issuer }}</td>
                                <td>{{ formatTime(tracking.Expires) }}</td>
                                <td>{{ daysLeft(tracking.Expires) }}</td>
                                <td>{{badgeForStatus(tracking.Status)}}</td>
                                <td><a class="btn btn-neutral btn-xs" href='/domains/{{tracking.ID}}'>show</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endif %}
            {% if pages %}
            <div class="flex justify-center mt-6">
                <div class="join">
                    {% for page in pages %}
                    {% if page == filters.selectedPage %}
                    <a href="?{{ queryParams }}&page={{ page }}" class="join-item btn btn-sm btn-active">{{page}}</a>
                    {% else %}
                    <a href="?{{ queryParams }}&page={{ page }}" class="join-item btn btn-sm">{{page}}</a>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    function deleteFavoriteDomains() {
        const selectedDomains = document.querySelectorAll('input[name="favorite_domains"]:checked');
        const domainIds = Array.from(selectedDomains).map(dom => dom.value);

        if (domainIds.length === 0) {
            alert('Пожалуйста, выберите хотя бы один домен для удаления из избранного.');
            return;
        }

        axios.post('/favorites/delete_favorite', { domain_ids: domainIds })
            .then(response => {
                alert('Домены успешно удалены из избранного.');
                window.location.reload();
            })
            .catch(error => {
                    console.error('Произошла ошибка при удалении доменов из избранного:', error);
                    alert('Произошла ошибка при удалении доменов из избранного. Пожалуйста, попробуйте еще раз.');
                })
            };
</script>


{% endblock %}
